*{
    margin: 0px;
    padding: 0px;
}

/* about-content-section */

#about-content{
    border: 2px solid black;
    padding: 50px;
}

#about-content img{
    width: 300px;
    height: 300px;
    float: left;
}

.about-para{
    text-align: justify;
}

/* utilities */
.text-margin{
    margin-bottom: 20px;
}