*{
    margin: 0px;
    padding: 0px;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4d9fa;
    height: 500px;
}

.login-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid black;
    border-radius: 17px;
    background-color: #f0f0f0;
    padding: 8px;
    width: 30%;
    height: 50%;
}
.login-container label{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3px 1px;
    margin: 12px 14px;
    margin-bottom: -4px;
}
.login-container input{
    border: 2px solid black;
    border-radius: 9px;
    padding: 4px;
    margin: 5px 12px;
    width: 70%;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-container button{
    border-radius: 25px;
    background-color: #0e528f;
    color: #ffffff;
    font-size: medium;
    width: 73%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 4px 9px;
    padding: 1px;
    cursor: pointer;
}